body {
	font-family: "Poppins", sans-serif;
}

ul {
	padding: 0;
	list-style-type: none;
}

.container {
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 15px;
}

@media (max-width: 768px) {
	.container {
		padding: 0 10px;
	}
}
